[Desktop Entry]
Name=Day Notes
GenericName=Simple Calendar
Comment=Store your notes for each day.
Keywords=calendar
Exec=daynotes
Terminal=false
Type=Application
Categories=GNOME;GTK;Calendar;
